[Unit]
Description=Apple Magic Keyboard On Linux

[Service]
ExecStart=/opt/apple-magic-keyboard-on-linux/Apple-Magic-Keyboard-On-Linux
Restart=always
User=root

[Install]
WantedBy=multi-user.target
